body {
  width: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
nav,main > section {
  overflow: auto;
}

main > section,main > footer {
  min-height: 100vh;
}

nav {
  justify-content: space-between;
  align-items: baseline;
  padding: 1em;
  display: flex;
  font-family: "Times New Roman", Times, serif;
}
nav h1,ul {
  margin: 0;
}

nav a {
  text-decoration: none;
  color: #eee;
  
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul a {
  padding: 1em;
  color: firebrick;
  font-weight: bolder;
}

nav ul a:hover {
  color: white;
}

#banner {
  width: 100%;
  background: url("images/banner_taipei.jpg");
  background-size: cover;
  height: 100vh;
  position: relative;
}

.headline {
  font-family: "Times New Roman", Times, serif;
  font-size: 60px;
  color: white;
  position: fixed;
  top: 13vh;
  width: 100%;
  text-align: center;
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
  line-height: 1;
}
.headline > p {
  padding: 0;
  margin: 0;
  font-size: 280px;
}
.mask {
  mask: url("images/bannermask.png");
  mask-size: cover;
  -webkit-mask: url("images/bannermask.png");
  -webkit-mask-size: cover;
  width: 100%;
  height: 100%;
}
#jifen {
  background-image: url("images/Jiufen.png");
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: right bottom;
  display: flex;
  flex-direction: column;
}
#jifen > header {
  font-family: Impact, Haettenschweiler, "Arial Narrow ";
  position: relative;
  bottom: -50px;
  font-size: 2em;
  transform: rotate(-2deg);
  flex: 2;
  line-height: 49px;
}
#jifen > header > span:first-child {
  font-size: 55px;
}
#jifen > header > span {
  background-color: firebrick;
  font-size: smaller;
  color: white;
  padding: 0px 10px 10px 30px;
}
#jifen > div {
  display: flex;
  flex-direction: row;
  flex: 2;
}
#jifen > div > div:nth-child(1) {
  flex: 2.2;
  display: flex;
  flex-direction: column;
  background-color: rgb(51, 51, 51);
  border-radius: 0 20px 0 0;
  padding: 1em;
}
#jifen > div > div:nth-child(1) > a {
  color: white;
  background-color: firebrick;
  text-decoration: none;
  border: none;
  padding: 1.2rem 2.2rem;
  border-radius: 100px;
  margin-right: 40px;
  width: 80px;
  align-self: flex-end;
}
#jifen > div > div:nth-child(1) > p {
  padding: 2.5em 1.8em 0 1.5em;
  color: white;
  line-height: 1.5em;
  font-size: 20px;
}
#jifen > div > div:nth-child(1) > p > b {
  color: firebrick;
}
#jifen > div > div:nth-child(2) {
  flex: 2;
  display: flex;
  justify-content: space-between;
}

#jifen > div > div:nth-child(2) > img {
  position: relative;
  left: -90px;
}

#night_market {
  background-image: -webkit-gradient(
      linear,
      left bottom,
      left top,
      from(rgba(150, 155, 153, 0.733)),
      to(rgba(0, 0, 0, 0))
    ),
    url("images/nightmarket.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
}
#night_market > header {
  color: #ffffff;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  margin-top: 2em;
  font-size: 50px;
  line-height: 0.4em;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  transform: rotate(2deg);
}
#night_market > header > span {
  background-color: black;
  padding: 10px 30px 0px 30px;
}
#night_market > header > span:last-child {
  color: firebrick;
  font-size: 30px;
  padding: 10px 30px 0px 30px;
}

#night_market ul {
  align-self: center;
  list-style: none;
  width: 90%;
  margin: 1.5em 0 0 0;
  padding: 0;
  display: flex;
  justify-content: center;
}
.card {
  width: 400px;
  margin: 1em;
  background-color: #eee;
  box-shadow: 0 0 22px rgba(0, 0, 0, 0.44);
}

.card img {
  width: 100%;
  height: 150px;
}

.card h5 {
  font-size: 0.8em;
}
.card p {
  font-size: 0.3em;
}
.card h5,
.card p {
  margin: 1rem;
}

#call_to_action {
  background-image: url("images/lantern.gif");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
#call_to_action > div {
  background-color: white;
  opacity: 90%;
  width: 75%;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.44);
}
#call_to_action > div h2 {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  margin-top: 1.8em;
  font-size: xx-large;
}

#call_to_action form {
  margin: 20px;
}
input[type="email"] {
  padding: 12px 20px;
  width: 400px;
  border: 2px black solid;
}
button[type="submit"] {
  padding: 13px 55px;
  border: 1px black solid;
  background-color: black;
  color: white;
}
